body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url('../img/background 01.jpg');
    background-repeat: repeat-x;
    background-position: bottom center; */
    background-color: aquamarine;
    min-height: 700px;
    width: 800px;
    margin: auto;
}

header {
    /* background: #1abc9c; */
    background-image: url('../img/background.jpg');
    background-size: auto;
    color: rgb(80, 79, 78);
    padding: 60px;
    text-align: center;
}

#duong_vien {
    border: 20px solid orangered;
    border-radius: 25px;
}

.nhan_mo_ta {
    color: red;
    width: 150px;
}

#nut_submit {
    text-transform: uppercase;
    padding: 5px 15px;
    background-color: coral;
    color:white;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    color:black
}

a:hover {
    color: #9F224E;
}

a:active {
    color: #9F224E;
}